streamlit
langchain
faiss-cpu
pymupdf
requests
transformers
sentence-transformers
python-dotenv
langchain-community
crewai
crewai_tools
langchain-huggingface
huggingface_hub
transformers
torch 

# # CrewAI stack (pin all of these to avoid backtracking)
# crewai==0.165.1
# crewai_tools==0.62.3
# chromadb==1.0.20
# embedchain==0.1.128
# openai==1.99.9
# litellm==1.74.9
